.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1;
  display: block; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  min-height: 100%;
  height: 1px; }

body {
  font-family: "Open Sans", sans-serif;
  color: #3d380a;
  font-size: 14px;
  display: flex;
  flex-direction: column; }

.wrapper {
  flex: 1; }

header {
  background: #c8b485;
  height: 60px;
  padding-right: 20px; }
  header .menu-icon-block {
    float: left;
    height: 60px;
    width: 70px;
    border-right: 1px solid rgba(68, 59, 37, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu-icon-block .menu-icon {
      height: 30px;
      width: 30px;
      background-image: url(../img/menu-icon.png); }
      header .menu-icon-block .menu-icon:hover {
        background-position: 0 30px; }
  header menu {
    float: left;
    font-size: 1.28571em; }
    header menu .menu-item {
      float: left;
      border-right: 1px solid rgba(68, 59, 37, 0.1); }
      header menu .menu-item a {
        color: #453c25;
        text-decoration: none;
        padding: 0 24px;
        line-height: 60px; }
      header menu .menu-item.active {
        font-weight: bold;
        background: rgba(250, 250, 242, 0.2); }
      header menu .menu-item:hover {
        background: rgba(250, 250, 242, 0.2); }

main {
  padding-bottom: 80px; }

footer {
  min-height: 100px;
  background: #453c25;
  color: #fff;
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  footer .footer-menu li {
    float: left;
    margin-right: 18px; }
    footer .footer-menu li a {
      color: #fff;
      text-decoration: none;
      text-transform: none; }
      footer .footer-menu li a:hover {
        color: #ffdf06; }
  footer .footer-copy-img {
    position: absolute;
    background: url(../img/footer-copy.png);
    background-repeat: no-repeat;
    width: 57px;
    height: 27px;
    left: 50%;
    top: 50%;
    margin-left: -29px;
    margin-top: -14px; }
    footer .footer-copy-img:hover {
      background-position: 0 -27px; }
  footer .social-icons-block a {
    color: #fff; }
    footer .social-icons-block a:hover {
      color: #ffdf06; }

.wrap-width {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }

.itinerary-block-bg {
  background: url(../img/top-banner.png); }
  .itinerary-block-bg .itinerary-block {
    height: 420px;
    position: relative; }

.itinerary-text {
  position: absolute;
  bottom: 14px;
  left: 10px;
  color: #fff; }
  .itinerary-text h1 {
    margin-top: 12px; }
  .itinerary-text p,
  .itinerary-text .itinerary-tags {
    font-size: 1.14286em; }
  .itinerary-text .itinerary-tags {
    letter-spacing: 0.09em;
    display: flex;
    align-items: center;
    line-height: 34px;
    margin-top: 12px; }
    .itinerary-text .itinerary-tags .itinerary-duration {
      padding-right: 24px; }
    .itinerary-text .itinerary-tags .itinerary-tags-item {
      float: left;
      padding: 0 14px 0 18px;
      line-height: 24px;
      border-right: 1px solid #fff; }
      .itinerary-text .itinerary-tags .itinerary-tags-item:last-of-type {
        border-right: none; }
      .itinerary-text .itinerary-tags .itinerary-tags-item .item-icon:before {
        float: left;
        top: 0; }

.expert-block {
  margin-top: 40px; }

.expert-characters {
  width: 380px;
  max-width: 100%;
  padding-right: 36px;
  box-sizing: border-box;
  float: left; }
  .expert-characters .avatar {
    float: left;
    width: 80px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 0 3px #0a0a0a; }
  .expert-characters .expert-characters-text {
    float: left;
    width: calc(100% - (80px + 20px) ); }
    .expert-characters .expert-characters-text .title-sub {
      margin-top: 4px;
      margin-bottom: 12px; }

.expert-overview {
  width: calc(100% - 380px);
  float: right;
  color: #272723;
  line-height: 1.4em; }
  .expert-overview .full-text-block {
    height: 218px; }
  .expert-overview .title-sub {
    color: #3d2723;
    margin-bottom: 24px; }

.trips-block {
  background: #f5f4e2;
  padding: 22px 0 36px;
  border-radius: 8px;
  border: 1px solid #e4e3d2;
  margin: 36px 0 40px; }
  .trips-block .decor-line-bg {
    margin-bottom: -10px; }
  .trips-block .trip-day-heading {
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    position: relative; }
  .trips-block .trip-day-content {
    padding: 50px 60px 0;
    display: flex; }
    .trips-block .trip-day-content .left-side,
    .trips-block .trip-day-content .right-side {
      width: calc( (100% - 138px) / 2 ); }
    .trips-block .trip-day-content .left-side .img-block-time:after {
      right: -68px;
      background-position: 0 -30px;
      bottom: 120px; }
    .trips-block .trip-day-content .left-side .img-block-time:first-of-type:after {
      background: none; }
    .trips-block .trip-day-content .time-line {
      width: 138px;
      text-align: center;
      margin: 141px 0 131px;
      background: url(../img/timeline-line.png);
      background-repeat: repeat-y;
      background-position: 50% 0; }
    .trips-block .trip-day-content .right-side .img-block-time:after {
      left: -68px;
      background-position: 0 -10px;
      bottom: 80px; }
    .trips-block .trip-day-content .right-side .img-block-time:first-of-type:after {
      background-position: 0 0px;
      top: 130px; }
    .trips-block .trip-day-content .img-block-time {
      position: relative; }
      .trips-block .trip-day-content .img-block-time:after {
        content: "";
        height: 10px;
        width: 34px;
        background: url(../img/timeline-sprite.png);
        position: absolute;
        display: block; }
    .trips-block .trip-day-content .img-block {
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 32px;
      background: #fff; }
      .trips-block .trip-day-content .img-block img {
        float: left; }
      .trips-block .trip-day-content .img-block .img-block-text {
        padding: 20px;
        line-height: 1.2em; }
      .trips-block .trip-day-content .img-block .img-block-decor-line {
        margin-bottom: 15px;
        text-align: left;
        letter-spacing: 0.05em; }
        .trips-block .trip-day-content .img-block .img-block-decor-line:before {
          height: 8px;
          width: 100%;
          position: absolute;
          content: "";
          background: rgba(0, 0, 0, 0.07);
          display: block;
          border-radius: 100%;
          bottom: -4px;
          clip: rect(4px, auto, 8px, 0); }
        .trips-block .trip-day-content .img-block .img-block-decor-line .decor-line {
          height: 26px;
          line-height: 26px;
          padding: 0 20px; }
          .trips-block .trip-day-content .img-block .img-block-decor-line .decor-line:hover {
            color: #3d380a; }
        .trips-block .trip-day-content .img-block .img-block-decor-line .show-icon {
          padding-left: 28px;
          position: relative;
          color: #ec4b36;
          text-transform: none;
          text-decoration: none;
          display: block; }
          .trips-block .trip-day-content .img-block .img-block-decor-line .show-icon:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 15px;
            background: url(../img/show-on-the-map.png);
            background-repeat: no-repeat;
            top: 5px;
            left: 14px; }

.love-it-block {
  text-align: center; }
  .love-it-block .itinerary-logo {
    margin-bottom: 18px; }
  .love-it-block .title-main {
    margin-bottom: 24px; }
  .love-it-block .love-it-text {
    margin-bottom: 32px;
    max-width: 310px; }
  .love-it-block .love-it-btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px; }
    .love-it-block .love-it-btn-block .btn-style {
      margin-right: 24px; }

.btn-style {
  display: table;
  padding: 16px 32px;
  box-sizing: border-box;
  height: 50px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.14286em;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #453c25; }

.btn-main {
  background: #ffdf06;
  box-shadow: 0 -2px 0 #dfc40a inset; }
  .btn-main:hover {
    background: #ffe534; }
  .btn-main:focus {
    background: #ffe534;
    box-shadow: 0 2px 0 #dfc40a inset; }

.degrees-block {
  display: table;
  margin-top: 12px;
  width: 100%; }
  .degrees-block .degree-item {
    display: table-row; }
    .degrees-block .degree-item .degree-item-cell {
      display: table-cell;
      height: 40px;
      vertical-align: middle; }
      .degrees-block .degree-item .degree-item-cell:last-of-type {
        text-align: right; }
    .degrees-block .degree-item .degree {
      border: 1px solid #dfdcb0;
      padding: 1px;
      height: 10px;
      width: 220px;
      border-radius: 4px;
      margin: 0 2px;
      box-sizing: border-box; }
      .degrees-block .degree-item .degree .degree-value {
        background: #b9e005;
        height: 100%;
        border-radius: 2px 0 0 2px; }

h1 {
  font-size: 3.57143em;
  font-weight: lighter;
  letter-spacing: 0.05em; }

a {
  text-transform: uppercase;
  font-size: 0.78571em;
  color: #3d380a;
  letter-spacing: 0.05em; }
  a:hover {
    text-decoration: none; }

.jshide {
  display: none !important; }

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
  display: table; }

.float-left {
  float: left; }

.title-main {
  font-size: 1.42857em;
  font-weight: bold; }

.title-sub {
  font-size: 1em;
  font-weight: bold; }

.decor-line-bg {
  background: #fff;
  background: linear-gradient(to right, #fff, #f5f4e2);
  text-align: center;
  padding: 4px 0;
  width: calc(100% + 2px);
  margin-left: -1px;
  box-sizing: border-box;
  position: relative; }
  .decor-line-bg:before {
    height: 20px;
    width: 100%;
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.07);
    display: block;
    border-radius: 100%;
    bottom: -10px;
    clip: rect(10px, auto, 20px, 0); }
  .decor-line-bg .decor-line {
    border: 2px dashed rgba(80, 76, 41, 0.1);
    border-left: none;
    border-right: none; }

.social-icons-block {
  float: right;
  height: 100%;
  display: flex;
  align-items: center; }
  .social-icons-block span {
    letter-spacing: 0.09em; }
  .social-icons-block a {
    font-size: 2.85714em;
    margin-left: 16px;
    color: #453c25; }

.arrow-down {
  height: 30px;
  width: 30px;
  border: 2px solid #ffdf06;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  right: 60px;
  top: 8px;
  box-sizing: border-box;
  background-image: url(../img/arrow-sprite.png);
  background-repeat: no-repeat; }
  .arrow-down:hover {
    border: 2px solid #b9e005; }
  .arrow-down.arrow-up {
    background-position: 0 -26px; }

.full-text-block {
  overflow: hidden; }

.full-text-btn {
  display: block;
  text-align: center;
  font-size: 1.42857em;
  text-decoration: none; }
  .full-text-btn:hover {
    color: #ec4b36; }

.fa.angle-up {
  display: none; }

.full-height {
  height: auto !important; }
  .full-height + .full-text-btn .fa.angle-down {
    display: none; }
  .full-height + .full-text-btn .fa.angle-up {
    display: block; }

.item-icon {
  position: relative; }
  .item-icon:before {
    content: "";
    height: 24px;
    width: 24px;
    position: relative;
    left: 0;
    top: 6px;
    background-image: url(../img/icon-sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 6px; }

.overview-icon:before {
  background-position: 0 0; }

.details-icon:before {
  background-position: 0 -24px; }

.family-icon:before {
  background-position: 0 -48px; }

.foodie-icon:before {
  background-position: 0 -72px; }

.shopping-icon:before {
  background-position: 0 -96px; }

.pet-icon:before {
  background-position: 0 -120px; }

/*# sourceMappingURL=main.css.map */
